/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Visual Studio / Rider / generated project files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db

# Optional IDE folders
.vscode/
.idea/

# Build artifacts
*.apk
*.aab
*.app
*.exe
*.ipa
*.unitypackage

#ignore the testruns (builds)
TestRun*/
Kicher_TestRun/
Kicher_TestRun.zip

# Your paid tileset folder
#/Assets/Tileset/Paid/